<div class='text-center'>
    <img class='logo' src="images/logo.png"></img>
    <p class="meta h4 mt-5  text-center">
        GO Paperless
    </p>
    <p class="meta h4 mt-5  text-center">
        Get all your bills on the BillMe App
    </p>
</div>